@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield&display=swap');
@media screen and (max-width: 599px){
.none {display:none}
}
// 全体
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    color: #111111;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;/* 16px*/
    line-height: 2;
    overflow-x: hidden;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    z-index: 200;
    opacity: .7;
}
#page-top a {
    background: #111;
    text-decoration: none;
    color: #fff;
    width: 40px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 0px;
    z-index: 200;
}
#page-top a:hover {
    text-decoration: none;
    background: #111;
    z-index: 200;
}

a {
    position: relative;
    color: lightSeaGreen;
    transition: color .3s, text-decoration .3s;
}
a:hover {
    color: indianRed;
    text-decoration-color: transparent;
}

h1 {
    font-size: 36px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
    /*24px~36pxで可変*/
    line-height: 1;
}

h2 {
    font-size: 24px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
    /* 20px~24pxで可変*/
    line-height: 1.3;
}

@media screen and (min-width: 960px) {/* 960px以上（パソコン、タブレット向け）*/
    h1 {font-size: 10rem;/* 36px*/    }
    h2 {font-size: 2.4rem;/* 24px*/    }
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    body {line-height: 2;    }
    h1 {font-size: 5rem;/* 24px*/}
    h2 {font-size: 2rem;/* 20px*/}
}

header.container {
    width: 100vw;
    margin: 0 auto;
    overflow-x: hidden;
}

header img {
    width: 100vw;
    overflow-x: hidden;
}

img.title {
    width: 40vw;
    position: absolute;
    top: 40px;
    left: 43.5px;
    z-index: 150;
}
@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    img.title {
        width: 40vw;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 150;
    }
}

.dot_border { //横ボーダー
    position: absolute;
    left: 0;
    top: 43.5px;
    width: 100vw;
    height: 20vh;
    background: url('../images/dot.png') left top repeat-x;
    opacity: .5;
    z-index: 150;
    overflow-x: hidden;
}

.dot_border2 { //縦ボーダー
    position: absolute;
    left: 43.5px;
    width: 10vw;
    height: 500vh;
    background: url('../images/dot.png') left top repeat-y;
    opacity: .5;
    z-index: 150;
/*     margin-left: 43.5px;
 */
    overflow-x: hidden;
    }

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    .dot_border { //横ボーダー
        position: absolute;
        left: 0;
        top: 20px;
        width: 100vw;
        height: 20vh;
        background: url('../images/dot.png') left top repeat-x;
        opacity: .5;
        z-index: 150;
        overflow-x: hidden;
    }

    .dot_border2 { //縦ボーダー
        position: absolute;
        left: 20px;
        width: 20vw;
        height: 400vh;
        background: url('../images/dot.png') left top repeat-y;
        opacity: .5;
        z-index: 150;
    /*     margin-left: 43.5px;
     */
        overflow-x: hidden;
        }
}

//ヘッダーの斜め区切り線

.naname {
    width: 100vw;
    height: 100px;
    background-color: #db143c;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.naname::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100px;
    border-top: 40px solid #db143c;
    /* 赤 */
    border-left: 50vw solid #db143c;
    /* 赤 */
    border-right: 50vw solid transparent;
    /* 透明 */
    border-bottom: 40px solid transparent;
    /* 透明 */
    z-index: 0;
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
        .naname {
            width: 100vw;
            height: 50px;
            background-color: #db143c;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
        }
        .naname::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50px;
            border-top: 10px solid #db143c;
            /* 赤 */
            border-left: 50vw solid #db143c;
            /* 赤 */
            border-right: 50vw solid transparent;
            /* 透明 */
            border-bottom: 10px solid transparent;
            /* 透明 */
            z-index: 0;
        }
}

div.nav_menu1 {
    // display: inline-block;      /* インラインブロック要素にする */
    position: absolute;
    top: 0;
    right: 315px;
    z-index: 150;
    height: 250px;
}
div.nav_menu2 {
    position: absolute;
    top: 0;
    right: 165px;
    z-index: 150;
    height: 250px;
}
div.nav_menu3 {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 150;
    height: 250px;
}

div.menu {
    display: inline-block;      /* インラインブロック要素にする */
    width: 126px;
    margin: 0 15px 0 0;
    padding: 50px 0 15px 0;
    background: rgba(0,0,0,.8);
    text-align: center;
    transition: all 0.1s linear 0s;
}
div.menu:hover {
    background: rgba(0,0,0,.5);
    padding: 100px 0 40px 0;
    transition: all 0.1s linear 0s;
    -webkit-transition: all 0.1s linear 0s;
}

.menu span {
    color: #ffffff;
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
        div.nav_menu {
            display: inline-block;      /* インラインブロック要素にする */
            position: absolute;
            top: 0;
            right: 0;
            z-index: 150;
        }

        div.menu {
            display: inline-block;      /* インラインブロック要素にする */
            width: 126px;
            margin: 0 15px 0 0;
            padding: 40px 0 15px 0;
            background: rgba(0,0,0,.8);
            text-align: center;
        }

        .menu span {
            color: #ffffff;
        }
}


section.naname-border {
    position: relative;
    background-color: #fff;
}

h3 {
    color: #db143c;
    font-weight: 800;
    font-size: 50px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(10rem + ((1vw - 0.64rem) * 0.7143));
    /* 20px~24pxで可変*/
    line-height: 1.3;
    vertical-align: bottom;
    letter-spacing: .01rem;
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    h3 {font-size: 5rem;/* 20px*/}
}

.dot_red_border { //赤の横ボーダー
    position: absolute;
    left: 0;
    top: 118px;
    width: 100vw;
    height: 10vh;
    background: url('../images/dot-red.png') left top repeat-x;
    opacity: .5;
    z-index: 150;
    overflow-x: hidden;
}
@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    .dot_red_border { //赤の横ボーダー
        position: absolute;
        left: 0;
        top: 54px;
        width: 100vw;
        background: url('../images/dot-red.png') left top repeat-x;
        opacity: .5;
        z-index: 150;
        overflow-x: hidden;
    }
}

section.midashi {
    position: relative;
    top: 200px;
    background-color: #fff;
        padding-left: 50px;
}
@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    section.midashi {
        position: relative;
        padding-left: 20px;
        top: 50px;
        background-color: #ffffff;
    }
}

//斜め線ここから
.svg_top {
    position: absolute;
    top: -210px;
    width: 100vw;
    height: 200px;
    fill: #db143c;
    z-index: 100;
}

.svg_bottom {
    position: absolute;
    top: -10px;
    width: 100vw;
    height: 200px;
    fill: #db143c;
    z-index: 100;
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    .svg_top {
        position: absolute;
        top: -59px;
        width: 100vw;
        height: 50px;
        fill: #db143c;
        z-index: 100;
    }

    .svg_bottom {
        position: absolute;
        top: -10px;
        width: 100vw;
        height: 50px;
        fill: #db143c;
        z-index: 100;
    }
}

//斜め線ここまで

//見出し記事ここから

table {
    margin: 40px 0 0 0;
}

.kaisha {
width: 90%;
    }
.kaisha th,
.kaisha td {
border: 1px solid #ccc;
padding: 17px;
}
.kaisha th {
font-weight: bold;
background-color: #dedede;
}
@media screen and (max-width: 599px) {
    .kaisha {
    width: 100%;
    }
    .kaisha,.kaisha tr,.kaisha td,.kaisha th {
    display:block;
    padding: 3px;
    }
    .kaisha td {
        padding: 0 20px;
    }
    .kaisha th {
        width:auto;
        letter-spacing: 1.3rem;
    }
}

article {
  width: 75%;
  padding: 50px 0 0 20px;
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 50px;
}

@media screen and (max-width: 599px) {
    article {
      width: 75%;
      padding: 50px 0 0 20px;
      font-size: 1.4rem;
      text-align: justify;
      text-justify: inter-ideograph;
      margin-bottom: 10px;
    }
}

article p {
  padding-left: 1.5rem;
}

article p.text-left {
  text-align: right;
}

h4 {
  font-size: 1.7rem;
}

span.red {
  color: #db143c;
}

span.sign {
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 5rem;
}

section.yohaku {
    width: 100vw;
    height: 500px;
    background-color: #fff;
}

section.yohaku:last-of-type {
        width: 100vw;
        height: 250px;
        background-color: #fff;
    }

@media screen and (max-width: 599px) {
    section.yohaku {
        width: 100vw;
        height: 150px;
        background-color: #fff;
    }
    section.yohaku:last-of-type {
        width: 100vw;
        height: 50px;
        background-color: #fff;
    }
}

footer {
    font-size: 1.2rem;
    color: #111111;
    text-align: center;
}
