@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');
@media screen and (max-width: 599px){
.none {display:none}
}
// 全体
html{
    font-size: 62.5%;
}
body {
    color: #111111;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    font-size: 1.6rem;/* 16px*/
    line-height: 2;
}

h1 {
    font-size: 36px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429));
    /*24px~36pxで可変*/
    line-height: 1;
}

h2 {
    font-size: 24px;
    /* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
    /* 20px~24pxで可変*/
    line-height: 1.3;
}

@media screen and (min-width: 960px) {/* 960px以上（パソコン、タブレット向け）*/
    h1 {font-size: 10rem;/* 36px*/    }
    h2 {font-size: 2.4rem;/* 24px*/    }
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
    body {line-height: 2;    }
    h1 {font-size: 5rem;/* 24px*/}
    h2 {font-size: 2rem;/* 20px*/}
}

header {
    overflow: hidden;/* はみ出た部分は表示しない */
}

header.container {
    width: 100vw;
    margin: 0 auto;
}

header img {
    width: 100vw;
}

img.title {
    width: 40vw;
    position: absolute;
    top: 40px;
    left: 43.5px;
    z-index: 150;
}

.dot_border { //横ボーダー
    position: absolute;
    left: 0;
    top: 43.5px;
    width: 100vw;
    height: 100vh;
    background: url('../images/dot.png') left top repeat-x;
    opacity: .5;
    z-index: 150;
}

.dot_border2 { //縦ボーダー
    position: absolute;
    left: 43.5px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../images/dot.png') left top repeat-y;
    opacity: .5;
    z-index: 150;
}

.naname {
    width: 100vw;
    height: 100px;
    background-color: #db143c;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.naname::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 100px;
    border-top: 40px solid #db143c;
    /* 赤 */
    border-left: 50vw solid #db143c;
    /* 赤 */
    border-right: 50vw solid transparent;
    /* 透明 */
    border-bottom: 40px solid transparent;
    /* 透明 */
    z-index: 0;
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
        .naname {
            width: 100vw;
            height: 50px;
            background-color: #db143c;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
        }
        .naname::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50px;
            border-top: 10px solid #db143c;
            /* 赤 */
            border-left: 50vw solid #db143c;
            /* 赤 */
            border-right: 50vw solid transparent;
            /* 透明 */
            border-bottom: 10px solid transparent;
            /* 透明 */
            z-index: 0;
        }
}

div.nav_menu {
    display: inline-block;      /* インラインブロック要素にする */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 150;
}

div.menu {
    display: inline-block;      /* インラインブロック要素にする */
    width: 126px;
    margin: 0 15px 0 0;
    padding: 40px 0 15px 0;
    background: rgba(0,0,0,.8);
    text-align: center;
}

.menu span {
    color: #ffffff;
}

@media screen and (max-width: 599px) {/* 600px未満（スマートフォン向け）*/
        div.nav_menu {
            display: inline-block;      /* インラインブロック要素にする */
            position: absolute;
            top: 0;
            right: 0;
            z-index: 150;
        }

        div.menu {
            display: inline-block;      /* インラインブロック要素にする */
            width: 126px;
            margin: 0 15px 0 0;
            padding: 40px 0 15px 0;
            background: rgba(0,0,0,.8);
            text-align: center;
        }

        .menu span {
            color: #ffffff;
        }
}